# Original from upstream
/.project

# Extra files not in standard gitignore
cdCommands
dllPath.bat

# Copy standard gitignore in
# Built file ignores
O.*
archive
autosave
bin
build
db
dbd
envPaths
html
include
lib
*.log

# Terminal editor ignores
*.swp
*~

# IDE ignores
*.vscode

# Core dumps
core.*